@charset 'utf-8';

/* ----- Common ----- */
@media only screen { /* only screen and (min-device-width:768px) and (max-device-width:1024px) */

	html {overflow-y:scroll}
	body {/*overflow:scroll;*/ border:thin solid black; counter-reset:chapter;}
    .story {position:relative; list-style:decimal;}
    .story:before {content:counter(chapter, decimal); counter-increment:chapter;display:block;
        position:absolute;
        left:0;
        top:0;
        width:20px;
        height:20px;
        z-index:999;
        font-size:50px;
    }


}



/* ----- Portrait ----- */
@media only screen and (orientation:portrait) { /* only screen and (min-device-width:768px) and (max-device-width:1024px) and (device-width:768px)|(orientation:portrait) */

	

}



/* ----- Landscape ----- */
@media only screen and (orientation:landscape) { /* only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (device-width: 1024px)|(orientation:landscape) */

	

}