<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="imagetoolbar" content="no">
        <meta name="robots" content="noodp">
        {{csrf_meta_tag}}
        <title>{{title}} - Membership</title>
        <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/membership.css"/>
		<link rel="shortcut icon" href="{{params.favicon_url}}" />
    </head>
    <body class="membership {{body_class}} {{params.site_class}}">
        <script type="text/javascript">
            document.body.className += " scriptable";
        </script>
		{{ga_analytics}}
		<!-- ClickTale Top part -->
		<script type="text/javascript">
			var WRInitTime=(new Date()).getTime();
		</script>
		<!-- ClickTale end of Top part -->
        <a class="skipLink" href="#main">Skip to content</a>
        <div class="wrap">
            <div class="header span-24" role="banner">
                <p class="mh-logo">
                    <img alt="{{params.display_name}}" src="{{params.logo_url}}"/>
                </p>
                <p class="fd-logo">Fairfax Media</p>
            </div>
            {{content}} {{js_tags}}
            <div class="footer span-24" role="contentinfo">
                <div class="nN-footerLinks">
                    <a title="Fairfax Media" href="http://www.fairfax.com.au" class="logo">Fairfax Media</a>
                    <div>
                        <h3>Our Sites</h3>
                        <ul>
                            <li class="first">
                                <a title="The Sydney Morning Herald" href="http://www.smh.com.au/" target="_blank">The Sydney Morning Herald</a>
                            </li>
                            <li><a title="The Age" href="http://www.theage.com.au/" target="_blank">The Age</a></li>
                            <li><a title="MyCareer" href="http://mycareer.com.au/" target="_blank">MyCareer</a></li>
                            <li><a title="Domain" href="http://www.domain.com.au/" target="_blank">Domain</a></li>
                            <li><a title="Drive" href="http://www.drive.com.au/" target="_blank">Drive</a></li>
                            <li><a title="RSVP" href="http://www.rsvp.com.au/" target="_blank">RSVP</a></li>
                            <li><a title="Essential Baby" href="http://www.essentialbaby.com.au/" target="_blank">Essential Baby</a></li>
                            <li><a title="InvestSMART" href="http://www.investsmart.com.au/" target="_blank">InvestSMART</a></li>
                            <li><a title="APM" href="http://www.apm.com.au/" target="_blank">APM</a></li>
                            <li><a title="Stayz" href="http://www.stayz.com.au/" target="_blank">Stayz</a></li>
                            <li><a title="Weatherzone" href="http://www.weatherzone.com.au/" target="_blank">WeatherZone</a></li>
                            <li><a title="The Vine" href="http://www.thevine.com.au/" target="_blank">The Vine</a></li>
                        </ul>
                        <h3>Our Partners</h3>
                        <ul>
                            <li class="first"><a title="Business" href="http://www.business.com.au/" target="_blank">Business</a></li>
                            <li><a title="Dental Surgery" href="http://www.dentalsurgery.com.au/" target="_blank">Dental Surgery</a></li>
                            <li><a title="Fitness" href="http://www.fitness.com.au/" target="_blank">Fitness</a></li>
                            <li><a title="Gardens" href="http://www.gardens.com.au/" target="_blank">Gardens</a></li>
                            <li><a title="Hair salon" href="http://www.hairsalon.com.au/" target="_blank">Hair salon</a></li>
                            <li><a title="Jogging" href="http://www.jogging.com.au/" target="_blank">Jogging</a></li>
                            <li><a title="Pharmacies" href="http://www.pharmacies.com.au/" target="_blank">Pharmacies</a></li>
                            <li><a title="Physicians" href="http://www.physicians.com.au/" target="_blank">Physicians</a></li>
                            <li><a title="Wedding" href="http://www.wedding.com.au/" target="_blank">Wedding</a></li>
                            <li><a title="Wine" href="http://www.wine.com.au/" target="_blank">Wine</a></li>
                        </ul>
                    </div>
                    <cite>Copyright &copy; {{now | date: "%Y"}} Fairfax Media</cite>
                </div>
            </div>
        </div>
		<!-- ClickTale Bottom part -->
		<div id="ClickTaleDiv" style="display: none;"></div>
		<script type='text/javascript'>
			document.write(unescape("%3Cscript%20src='"+
			(document.location.protocol=='https:'?
			'https://clicktale.pantherssl.com/':
			'http://s.clicktale.net/')+
			"WRc5.js'%20type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			var ClickTaleSSL=1;
			if(typeof ClickTale=='function') ClickTale(2694,0.0096,"www09");
		</script>
		<!-- ClickTale end of Bottom part -->
    </body>
</html>
