@charset 'utf-8';

/* ----- Common ----- */
@media only screen { /* only screen and (min-device-width:768px) and (max-device-width:1024px) */

	/* Fonts */
	@font-face {font-family:"HelveticaNeue"; src:url("fonts/HelveticaNeue.ttf") format("truetype")}
	@font-face {font-family:"HelveticaNeue-Bold"; src:url("fonts/HelveticaNeue-Bold.ttf") format("truetype")}
	@font-face {font-family:"HelveticaNeue-BoldItalic"; src:url("fonts/HelveticaNeue-BoldItalic.ttf") format("truetype")}
	@font-face {font-family:"HelveticaNeue-CondensedBlack"; src:url("fonts/HelveticaNeue-CondensedBlack.ttf") format("truetype")}
	@font-face {font-family:"HelveticaNeue-CondensedBold"; src:url("fonts/HelveticaNeue-CondensedBold.ttf") format("truetype")}
	@font-face {font-family:"HelveticaNeue-Italic"; src:url("fonts/HelveticaNeue-Italic.ttf") format("truetype")}
	@font-face {font-family:"HelveticaNeue-Light"; src:url("fonts/HelveticaNeue-Light.ttf") format("truetype")}
	@font-face {font-family:"HelveticaNeue-LightItalic"; src:url("fonts/HelveticaNeue-LightItalic.ttf") format("truetype")}
	@font-face {font-family:"HelveticaNeue-Medium"; src:url("fonts/HelveticaNeu-eMedium.ttf") format("truetype")}
	@font-face {font-family:"HelveticaNeue-UltraLight"; src:url("fonts/HelveticaNeue-UltraLight.ttf") format("truetype")}
	@font-face {font-family:"HelveticaNeue-UltraLightItalic"; src:url("fonts/HelveticaNeue-UltraLightItalic.ttf") format("truetype")}

	@font-face {font-family:"BreeSerif-Regular"; src:url("fonts/BreeSerif-Regular.ttf") format("truetype")}
	@font-face {font-family:"HelveticaNeueLTStd-Roman"; src:url("fonts/HelveticaNeueLTStd-Roman.otf") format("opentype")}
	@font-face {font-family:"HelveticaNeueLTStd-Md"; src:url("fonts/HelveticaNeueLTStd-Md.otf") format("opentype")}
	@font-face {font-family:"HelveticaNeueLTStd-Bd"; src:url("fonts/HelveticaNeueLTStd-Bd.otf") format("opentype")}
	@font-face {font-family:"HelveticaNeueLTStd-BdCn"; src:url("fonts/HelveticaNeueLTStd-BdCn.otf") format("opentype")}

}



/* ----- Portrait ----- */
@media only screen and (orientation:portrait) { /* only screen and (min-device-width:768px) and (max-device-width:1024px) and (device-width:768px)|(orientation:portrait) */

	

}



/* ----- Landscape ----- */
@media only screen and (orientation:landscape) { /* only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (device-width: 1024px)|(orientation:landscape) */

	

}