@charset 'utf-8';

/* ----- Common ----- */
@media only screen { /* only screen and (min-device-width:768px) and (max-device-width:1024px) */

	/* Fonts */
	@font-face {font-family:"DejaVu Serif"; src:url("fonts/dejavu-serif.ttf") format("truetype")}
	@font-face {font-family:"DejaVu Serif"; font-weight:bold; src:url("fonts/dejavu-serif-bold.ttf") format("truetype")}
	@font-face {font-family:"MillerDisplay"; src:url("fonts/miller-display.otf") format("opentype")}
	@font-face {font-family:"TradeGothic LT"; src:url("fonts/trade-gothic.ttf") format("truetype")}

}



/* ----- Portrait ----- */
@media only screen and (orientation:portrait) { /* only screen and (min-device-width:768px) and (max-device-width:1024px) and (device-width:768px)|(orientation:portrait) */

	

}



/* ----- Landscape ----- */
@media only screen and (orientation:landscape) { /* only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (device-width: 1024px)|(orientation:landscape) */

	

}