.body {
  background: #fff;
}
.navigation {
  z-index: 6 !important;
}
.headerTitle {
  z-index: 1 !important;
}
.article {
  background: #fff;
}
.articleNav {
  position: fixed;
}
.homepage {
  position: relative;
}
.view-more {
  background-color: #ed1c24;
  color: #fff;
  display: block;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  width: 100%;
}
.read-list-item {
  background: rgba(255, 255, 255, .4) url('../images/tick.png') no-repeat 95% 5%;
}
