@charset 'utf-8';

/* ----- Common ----- */
@media only screen { /* only screen and (min-device-width:768px) and (max-device-width:1024px) */

    /* Reset */
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td
    {margin:0; padding:0; border:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline}
    body {line-height:1; color:black; background:#fff; position:relative}
    /* Tables still need 'cellspacing="0"' in the markup: */
    table {border-collapse:separate; border-spacing:0}
    table, td, th {vertical-align:top}
    caption, th, td {text-align:left; font-weight:normal}

    .hidden {display: none}

    body.index blockquote:before,
    body.index blockquote:after,
    body.index q:before,
    body.index q:after {content:""}
    body.index blockquote, q {quotes:"" ""}

    /* Index */
    body.index {overflow:hidden}
    body.index > * {float:left}

    .index-content {padding-top:25px; padding-bottom:43px /*page spacing*/}
    .index-content > * {margin:0 19px 20px 0 /*item spacing*/}
    .index-content article.story .content p {text-overflow: ellipsis}

    .index-content-cover {padding: 0 !important; margin:0 !important;}

    /*curated*/
    .index-content-feature-curated .story-feature h4,
    .index-content-feature-curated .story-feature .indicators,
    .index-content-feature-curated .story-feature .content:not(.bottom-center) p,
    .index-content-feature-alt-curated .story-feature h4,
    .index-content-feature-alt-curated .story-feature .indicators,
    .index-content-feature-alt-curated .story-feature .content:not(.bottom-center) p {display: none}
    /*.index-content-feature-curated .story-feature .group,
    .index-content-feature-alt-curated .story-feature .group { overflow: visible }*/
    .index-content-feature-curated .story-feature .media + .content,
    .index-content-feature-alt-curated .story-feature .media + .content {width: 386px; height: 127px; background:rgba(0, 0, 0, .75)}
    .index-content-feature-curated .story-feature .content.top-left,
    .index-content-feature-alt-curated .story-feature .content.top-left {top: 50px}
    .index-content-feature-curated .story-feature .content.top-right,
    .index-content-feature-alt-curated .story-feature .content.top-right {top: 50px; left: auto; right: 0}
    .index-content-feature-curated .story-feature .content.bottom-left,
    .index-content-feature-alt-curated .story-feature .content.bottom-left {bottom: 50px}
    .index-content-feature-curated .story-feature .content.bottom-right,
    .index-content-feature-alt-curated .story-feature .content.bottom-right {bottom: 50px; left: auto; right: 0}
    .index-content-feature-curated .story-feature .content.bottom-center,
    .index-content-feature-alt-curated .story-feature .content.bottom-center {bottom: 0; left: 64px; width: 601px}
    .index-content-feature-curated .story-feature .content.center-center,
    .index-content-feature-alt-curated .story-feature .content.center-center {top: 50%; left: 64px; width: 601px;margin-top: -64px}
    .index-content-feature-curated .story-feature .content .group,
    .index-content-feature-alt-curated .story-feature .content .group {padding: 5px 10px}
    .index-content-feature-curated .story-feature .content:not(.bottom-center) h3,
    .index-content-feature-alt-curated .story-feature .content:not(.bottom-center) h3 {display: table-cell; vertical-align: middle; height: 100px; line-height: 35px}
    .index-content-feature-curated .story-feature .content h3,
    .index-content-feature-alt-curated .story-feature .content h3 {color:#fff;}
    .index-content-feature-curated .story-feature .content p,
    .index-content-feature-alt-curated .story-feature .content p {color:#fff; font-size: 17px}

    /* Indicators */
    .indicators h5 {position:absolute; left:-9999px}
    .indicators ul {list-style:none}
    .indicators li {text-indent:-9999px; width:17px; height:15px; margin:6px 0; background:url("images/base.png") /*indicators*/}
    .indicators li:first-child {margin-top:0}
    .indicators li:last-child {margin-bottom:0}
    .indicators .gallery {height:13px; background-position:-10px 0 /*indicators | gallery indicator*/}
    .indicators .video {background-position:-10px -20px /*indicators | video indicator*/}
    .indicators .comments {background-position:-10px -40px /*indicators | comments indicator*/}
    .indicators .interactive {height:20px;background-position:-10px -60px /*indicators | comments indicator*/}

    /* Story */
    .story {position:relative; background:#fff}
    .story > a {position:absolute; top:0; right:0; bottom:0; left:0; text-decoration:none}
    .story .group {overflow:hidden; position:absolute}
    .story .media {position:absolute; top:0; right:0; left:0}
    .story .media img {position:absolute} /*allow clip*/
    .story .media .group {top:1px; right:1px; bottom:0; left:1px}
    .story .content {position:absolute; top:0; right:0; bottom:0; left:0}
    .story .content h4 {overflow:hidden; position:absolute; white-space:nowrap; text-overflow:ellipsis; top:1px; left:7px; padding:3px 5px 4px; font-family:"TradeGothic LT"; font-size:12px; line-height:1.0; text-transform:uppercase; color:#fff; background:rgba(0, 0, 0, .75)}
    .story .content .indicators {float:right; margin:0 0 5px 5px}
    .story .content h3 {display:block; margin:0; font-family:"MillerDisplay"; font-size:20px; line-height:21px; min-height:23px; color:#000}
    .story .content p {margin-top:4px; font-family:"DejaVu Serif"; font-size:13px; line-height:1.3em; color:#555}
    .story .content .group {top:8px; right:10px; bottom:10px; left:10px}
    .story .content h4 + .group {top:29px}
    .story .media + .content {top:auto}
    .story .media + .content h4 {top:-19px}
    .story .media + .content .group {top:6px}

    /* Quote */
    .quote {position:relative; background:rgba(0, 0, 0, .75)}
    .quote::after {position:absolute; content:""; right:21px; bottom:-9px; width:13px; height:9px; background:url("images/base.png") -50px -40px /*quote | tip*/}
    .quote > a {position:absolute; top:0; right:0; bottom:-9px; left:0; text-decoration:none; z-index:1} /*cover generated quote tip*/
    .quote .content {position:absolute; top:0; right:0; bottom:0; left:0; margin:10px}
    .quote a > .content {bottom:9px} /*exclude tip from content area*/
    .quote .indicators {float:right; margin:0 0 10px 10px}
    .quote p {margin-bottom:10px; font-family:"MillerDisplay"; font-size:20px; line-height:normal; color:#fff}
    .quote p:first-child::before,
    .quote p:last-child::after {display:inline-block; content:""; width:20px; height:17px; background:url("images/base.png") /*quote*/}
    .quote p:first-child::before {margin-right:8px; background-position:-50px 0 /*quote | start*/}
    .quote p:last-child::after {margin-left:8px; background-position:-50px -20px /*quote | end*/}
    .quote-story strong,
    .quote-story cite {display:inline}
    .quote-opinion strong,
    .quote-opioion em {display:block}
    .quote strong,
    .quote em,
    .quote cite {font-size:12px; line-height:normal; color:#aaa}
    .quote strong {font-family:"TradeGothic LT"; text-transform:uppercase}
    .quote em,
    .quote cite {font-family:"DejaVu Serif"}
    .quote-standard {width:231px /*span-1c*/}
    .quote-story cite::before {margin-right:4px; content:"|"}

    .story-content blockquote,
    .gallery-content blockquote,
    .story-content figure,
    .gallery-content figure,
    .story-content section,
    .gallery-content section {margin:0; padding:0; border:0}

    /* Check this value on iPad, Chrome seems to add a 3px margin bellow images... */
    .story-content img,
    .gallery-content img {margin-bottom:-3px}

    /* Layout */
    .story-content,
    .gallery-content {width:768px; font-size:18px; margin:0 auto; background:#fff; color:#414141}
    .story-content .wrap,
    .gallery-content .wrap {overflow:hidden; width:729px; margin:0 auto; padding:18px 18px 20px 19px; background:#fff}

    /* Global */
    .story-content a,
    .gallery-content a {color:#007cc3; text-decoration:none}
    .story-content a:hover,
    .gallery-content a:hover {text-decoration:underline}

    .gallery-content a {color:inherit}
    .gallery-content a:hover {text-decoration:none}
    .story-content article > .inlineGallery a {text-decoration:none}

    /* Story styles */
    .story-content article {}
    .story-content article > header img {width:728px; max-height:728px}
    .story-content article > header .gallery {width:728px; max-height:728px; display:block; clear:both; position:relative}
    .story-content article > header > .gallery a header {font-size:16px; text-transform:uppercase; position:absolute; left:0; top:0; padding:0 10px 0 35px; line-height:26px; color:#fff; background:rgba(0,0,0,.5) url("images/sprite.gif") no-repeat 10px 4px}
    .story-content article .caption video {display:block}
    .story-content article .caption cite {padding:9px 10px; font-size:15px; width:709px; display:block}
    .story-content article strong {font-weight:bold}
    .story-content article p {margin-bottom:1em; font-size:.95em; line-height:1.3em; max-width:620px}
    .story-content article h1,
    .story-content article h2,
    .story-content article h3 {line-height:1}
    .story-content article h1 {margin-top:16px; margin-bottom:22px; font-size:2.8em}
    .story-content article h2 {margin-top:10px; margin-bottom:10px; font-size:1.8em}
    .story-content article h3 {margin-top:5px; margin-bottom:10px; font-size:1.5em}
    .story-content article em {font-style:italic}
    .story-content article time {text-transform:uppercase; font-size:.75em; font-color:rgba(119,119,119,1)}
    .story-content article > header > h1 {clear:both}
    .story-content article > .published {margin-top:-.3em; margin-bottom:1em; display:block; color:#555; font-size:.9em}
    .story-content article > header .published {float:left; margin-top:-.2em; margin-bottom:10px; display:block; color:#555; font-size:.9em; width:50%}
    .story-content article > header .pagination {text-align:right; float:right; margin-top:-.2em; margin-bottom:10px; display:block; color:#555; font-size:.9em; width:50%}
    .story-content article > header .pagination > span {text-transform:uppercase; font-size:.75em; font-color:rgba(119,119,119,1)}

    /* Author info */
    .story-content article .author {position:relative; margin-bottom:1em; padding:9px 20px 0; height:75px; width:310px; background:url("images/dotted-background.gif"); font-family:sans-serif}
    .story-content .author > img {position:absolute; top:-3px; left:5px; width:80px; height:87px}
    .story-content .author > h2 {margin:10px 0 3px; color:#1f84bb; font-weight:bold}
    .story-content .author > p {font-size:.7em; color:#555; text-overflow:ellipsis}
    .story-content article .withImage {padding-left:105px; height:75px; width:225px}
    .story-content article p#byline {text-transform:uppercase; font-size:.85em; color:#555}

    /* Inline elements */
    .story-content article > figure,
    .story-content article > .inlineGallery,
    .story-content article > .inlineHtml,
    .story-content article > .ad {float:right; margin:0 0 20px 20px; width:353px; overflow:hidden}
    .story-content article > figure cite,
    .story-content article > .inlineGallery footer {padding:6px 9px 9px; color:#fff; background:rgba(0, 0, 0, 0.75); font-size:15px; display:block}
    .story-content article > figure cite p,
    .story-content article > .inlineGallery footer p {margin:0}

    .story-content article ul {margin:0 0 1em 1.2em}
    .story-content article ul li {margin-bottom:.6em}
    .story-content article p a {color:#414141}
    .story-content article p a {border-bottom: 1px dotted #414141}
    .story-content article p a:hover {text-decoration:none}

    .story-content article > blockquote {background-color:#f9f9f9; padding:15px 20px 15px 25px; max-width:590px; margin:0 0 17px 17px; clear:both; overflow:hidden}
    .story-content article > blockquote.left {float:left; margin:0 20px 0 0; width:308px; clear:none}
    .story-content article > blockquote.right {float:right; margin:0 0 0 20px; width:308px; clear:none}
    .story-content article > blockquote::after {right:21px; bottom:-9px; width:13px; height:9px; background:url("images/base.png") -50px -40px /*quote | tip*/}
    .story-content article > blockquote p {font-size:20px; font-style:italic; display:inline-block; line-height:normal; color:#666; margin:0; padding: 0 0 10px 15px;}
    .story-content article > blockquote p::before,
    .story-content article > blockquote p::after {content:""; display:inline-block; width:20px; height:19px; background:url("images/base.png") /*quote*/}
    .story-content article > blockquote p::before {margin-left:-25px; margin-right:5px; background-position:-50px 0 /*quote | start*/}
    .story-content article > blockquote p::after {margin-left:5px; position:relative; top:13px; background-position:-50px -20px /*quote | end*/}
    .story-content article > blockquote strong,
    .story-content article > blockquote em,
    .story-content article > blockquote cite {font-size:12px; line-height:normal; color:#999}
    .story-content article > blockquote cite {display:block; text-align:right}
    .story-content article > blockquote strong {text-transform:uppercase}

    .story-content article > figure {}
    .story-content article > .inlineGallery {position:relative}
    .story-content article > .inlineGallery > a > header {font-size:16px; text-transform:uppercase; position:absolute; left:0; top:0; padding:0 10px 0 35px; line-height:26px; color:#fff; background:rgba(0,0,0,.5) url("images/sprite.gif") no-repeat 10px 4px}
    .story-content article > .inlineGallery > footer h1 {font-weight:bold; font-size:1em}
    .story-content article > .inlineHtml {}

    .story-content article > .inlineSoundslide > header {background:rgba(0,0,0,.5) url("images/sprite.gif") no-repeat 10px 4px} /* TODO */
    .story-content article > .inlineInfographic > header {background:rgba(0,0,0,.5) url("images/sprite.gif") no-repeat 10px 4px} /* TODO */

    /* Ad styles */
    .story-content article > .ad,section.ad {font-size:.7em; color:#555; text-align:right}
    section.ad {text-align:left}
    .story-content article > .ad a,section.ad a {display:block; margin-top:10px}

    /* Comment styles */
    .story-content h2.comments {margin-top: 2em}
    .story-content ul.comments {font-family:"TradeGothic LT";font-size: .8em;margin-top: 1em}
    .story-content .comments li {list-style: none;border-top: 1px solid #ccc;color: #666}
    .story-content .comments li p {padding:4px 10px}
    .story-content .comments li blockquote {padding:6px 0}
    .story-content .comments li li {padding:3px 10px 3px 20px}
    .story-content .comments dl {padding:0 10px 14px}
    .story-content .comments dl>dt {display: none}
    .story-content .comments dl>dd {display: inline;color:#ccc}
    .story-content .comments dl>dd>cite {padding-right:.5ex;border-right: 1px solid #ccc}
    .story-content .comments [value="Reply"] {float: right;top: -2.5em;position: relative;}
    .story-content p.comments {font-family:"TradeGothic LT";text-align: center;font-size: 1.2em;border-top: 1px solid #ccc;padding-top: 1em}
    .story-content .comments .btn {padding:3px 1ex;text-transform: uppercase;border-radius: 0;-webkit-appearance: none;border: 1px solid #044266;color: #fff;background: -webkit-linear-gradient(#0079b3,#004175);box-shadow: inset 0 1px #00699b;}

    /* Gallery styles */
    .gallery-content .wrap {padding-bottom:43px}
    .gallery-content article {position:relative; float:left; width:229px}
    .gallery-content article > hgroup {font-size:.9em; overflow:hidden}
    .gallery-content article > .count {position:absolute; right:0; bottom:50px; padding:0 .4em; font-family:sans-serif; font-size:.8em; background:rgba(0,0,0,.4); color:#fff; line-height:1.4em}
    .gallery-content article.today {width:479px}

    /* Media Type Overlay */
    .article-media-type { font-family:'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif; line-height:1.0; font-size:12px; z-index:999999; position:absolute; width:auto; padding: 6px 13px 6px 13px; text-transform:uppercase; font-size:0.750em; -webkit-border-top-right-radius:4px; -webkit-border-bottom-right-radius:4px; -moz-border-radius-topright:4px; -moz-border-radius-bottomright:4px; border-top-right-radius:4px; border-bottom-right-radius:4px }
    .article-media-type.movie-review { color:#ffffff; background:#b73c8c; border-left:1px solid #b7b7b7 }
    .article-media-type.trailer { color:#ffffff; background:#666666; border-left:1px solid #b7b7b7 }
    .article-media-type:after { content:''; position:absolute; bottom:-3px; left:-1px; width:1px; height:1px; border-style:solid; border-width:0 2px 2px 0; border-color:transparent #000000 transparent transparent }
    .story .media + .content .article-media-type.movie-review, .story .media + .content .article-media-type.trailer { top:-28px; left:-2px }
    .story.story-brief-landscape  .media + .content .article-media-type.movie-review, .story.story-brief-landscape .media + .content .article-media-type.trailer { top:auto; bottom:6px; left:-2px}
    .story.story-brief-landscape.hasIndicator .content .group { bottom:41px }
}

/* ----- Portrait ----- */
@media only screen and (orientation:portrait) { /* only screen and (min-device-width:768px) and (max-device-width:1024px) and (device-width:768px)|(orientation:portrait) */

    /* Body */
    body {width:768px /*device width*/}

    .wrap {width:731px}
    .gallery-content.wrap {padding-top:19px}
    .gallery-content article {margin:21px 0 0 21px}

    .hidden-portrait {display: none;}
    /* Index */
    body.index {height:948px /*device height - control bar - header*/; background-position:-1px 0 /*index | background*/}

    .index-content {width:731px; height:880px; /*page area*/ padding-right:19px; padding-left:18px /*page spacing*/}

    .index-content-standard > *:nth-child(3n) {margin-right:0} /*row end: items 3,6,9*/
    .index-content-standard > *:nth-child(n+7) {margin-bottom:0} /*col end: items 7,8,9*/

    .index-content-lead-tall > *:nth-child(3),
    .index-content-lead-tall > *:nth-child(3n+5) {margin-right:0} /*row end: items 3,5,8*/
    .index-content-lead-tall > *:nth-child(n+6) {margin-bottom:0} /*col end: items 6,7,8*/

    /* .index-content-lead-tall variation with 2 tall blocks in Portrait view and no Brief Items in Landscape view */
    .index-content-two-tall > *:nth-child(3),
    .index-content-two-tall > *:nth-child(3n+5) {margin-right:0} /*row end: items 3,5,8*/
    .index-content-two-tall > *:nth-child(n+6) {margin-bottom:0} /*col end: items 6,7,8*/
    .index-content-two-tall > *:nth-child(6),
    .index-content-two-tall > *:nth-child(7) {position:absolute; left:18px; top:625px;} /*move top: body padding-top:25px + height:580x + margin-bottom:20px*/
    .index-content-two-tall > *:nth-child(7) {left:268px;} /*move left: body padding-left:18px + block width:231px + margin-right:19px*/
    .index-content-two-tall > *:nth-child(5) .media img:last-child {display:none;} /*hide standard image*/

    /* .index-content-lead-tall variation with positioning a tall block in the middle */
    .index-content-middle-tall > *:nth-child(3),
    .index-content-middle-tall > *:nth-child(3n+5) {margin-right:0} /*row end: items 3,5*/
    .index-content-middle-tall > *:nth-child(n+5) {margin-bottom:0} /*col end: items 5,6,7*/
    .index-content-middle-tall > *:nth-child(4) {position:absolute; left:18px; top:325px;} /*move top: body padding-top:25px + height:280px + margin-bottom:20px*/

    .index-content-lead-wide > *:nth-child(3n+2) {margin-right:0} /*row end: items 2,5,8*/
    .index-content-lead-wide > *:nth-child(n+6) {margin-bottom:0} /*col end: items 6,7,8*/

    .index-content-lead-wide-alt > *:first-child,
    .index-content-lead-wide-alt > *:nth-child(3n+5) {margin-right:0} /*row end: items 1,5,8*/
    .index-content-lead-wide-alt > *:nth-child(n+6) {margin-bottom:0} /*col end: items 6,7,8*/
    .index-content-lead-wide-alt > *:nth-child(1) {margin-right:-250px; margin-left:250px} /*push 1 col*/
    .index-content-lead-wide-alt > *:nth-child(2) {margin-right:500px; margin-left:-481px} /*pull 2 cols*/

    .index-content-hero > *:nth-child(2),
    .index-content-hero > *:nth-child(3n+3) {margin-right:0} /*row end: items 2,3,6*/
    .index-content-hero > *:nth-child(n+4) {margin-bottom:0} /*col end: items 4,5,6*/

    .index-content-hero-alt > *:nth-child(n+4) {margin-right:0} /*row end: items 4,5,6*/
    .index-content-hero-alt > *:nth-child(4n+2) {margin-bottom:0} /*col end: items 2,6*/
    .index-content-hero-alt > *:nth-child(4) {margin-top:-600px} /*pull 2 rows*/
    .index-content-hero-alt > *:nth-child(5) {margin-top:-300px} /*pull 1 row*/

    .index-content-feature-curated {padding:0 18px 0 0;width:769px}
    .index-content-feature-curated > *:nth-child(1) .group {left: 0;top: 0;}
    .index-content-feature-curated > *:nth-child(1) {width:769px;height:607px}
    .index-content-feature-curated > *:nth-child(1),
    .index-content-feature-curated > *:nth-child(1) .media.curated {height:607px}
    .index-content-feature-curated > *:nth-child(1) .media.curated img {clip: rect(0 auto 607px auto);margin:0;}
    .index-content-feature-curated > *:nth-child(2) {margin-left:18px;}
    .index-content-feature-curated > *:nth-child(3n+1) {margin-right:0} /*row end: items 1,4*/
    .index-content-feature-curated > *:nth-child(n+2) {margin-bottom:0} /*col end: items 2,3,4*/

    .index-content-feature > *:nth-child(3n+1) {margin-right:0} /*row end: items 1,4*/
    .index-content-feature > *:nth-child(n+2) {margin-bottom:0} /*col end: items 2,3,4*/

    .index-content-feature-alt-curated {padding:18px 18px 0 0;width:769px;}
    .index-content-feature-alt-curated > *:first-child { margin-left:18px;}
    .index-content-feature-alt-curated > *:nth-child(4) .group {left: 0;top: 0;}
    .index-content-feature-alt-curated > *:nth-child(4) {width:769px;height:589px}
    .index-content-feature-alt-curated > *:nth-child(4),
    .index-content-feature-alt-curated > *:nth-child(4) .media.curated {height:589px}
    .index-content-feature-alt-curated > *:nth-child(4) .media.curated img {clip: rect(0 auto 589px auto);margin:0;}
    .index-content-feature-alt-curated > *:nth-child(n+3) {margin-right:0} /*row end: items 3,4*/
    .index-content-feature-alt-curated > *:last-child {margin-bottom:0} /*col end: items 4*/

    .index-content-feature-alt > *:nth-child(n+3) {margin-right:0} /*row end: items 3,4*/
    .index-content-feature-alt > *:last-child {margin-bottom:0} /*col end: items 4*/

    /* Story */
    .story-brief,
    .story-brief-portrait {width:231px; height:130px} /*span 1 x 0.5*/
    .story-brief .media,
    .story-brief-portrait .media {display:none}
    .story-brief .media + .content,
    .story-brief-portrait .media + .content {height:111px}
    .story-brief .content h4,
    .story-brief-portrait .content h4 {max-width:209px}

    .story-standard,
    .story-standard-portrait {width:231px; height:280px} /*span 1 x 1*/
    .story-standard .media,
    .story-standard-portrait .media {height:154px}
    .story-standard .media + .content,
    .story-standard-portrait .media + .content {height:126px}
    .story-standard .content h4,
    .story-standard-portrait .content h4 {max-width:209px}

    .story-lead-tall,
    .story-lead-tall-portrait {width:231px; height:580px} /*span 1 x 2*/
    .story-lead-tall .media,
    .story-lead-tall-portrait .media {height:454px}
    .story-lead-tall .media img,
    .story-lead-tall-portrait .media img {margin:-9px 0; clip:rect(9px, auto, 462px, auto) /*229 x 453px*/}
    .story-lead-tall .media + .content,
    .story-lead-tall-portrait .media + .content {height:126px}
    .story-lead-tall .content h4,
    .story-lead-tall-portrait .content h4 {max-width:209px}

    .story-lead-wide,
    .story-lead-wide-portrait {width:481px; height:280px} /*span 2 x 1*/
    .story-lead-wide .media,
    .story-lead-wide-portrait .media {height:280px}
    .story-lead-wide .media img,
    .story-lead-wide-portrait .media img {margin:-9px 0; clip:rect(9px, auto, 288px, auto) /*479 x 279px*/}
    .story-lead-wide .content,
    .story-lead-wide-portrait .content {left:auto; right:1px; width:210px; padding:10px; background:rgba(0, 0, 0, .75)}
    .story-lead-wide .media + .content .group,
    .story-lead-wide-portrait .media + .content .group {position:relative; top:0; right:0; bottom:0; left:0; max-height:108px}
    .story-lead-wide .content h4,
    .story-lead-wide-portrait .content h4 {max-width:209px}
    .story-lead-wide .content h3,
    .story-lead-wide-portrait .content h3 {color:#fff}
    .story-lead-wide .content p,
    .story-lead-wide-portrait .content p {color:#fff}

    .story-hero,
    .story-hero-portrait {width:481px; height:580px} /*span 2 x 2*/
    .story-hero .media,
    .story-hero-portrait .media {height:454px}
    .story-hero .media img,
    .story-hero-portrait .media img {margin:-9px 0; clip:rect(9px, auto, 462px, auto ) /*479 x 453px*/}
    .story-hero .media + .content,
    .story-hero-portrait .media + .content {height:126px}
    .story-hero .content h4,
    .story-hero-portrait .content h4 {max-width:459px}
    .story-hero .content h3,
    .story-hero-portrait .content h3 {display:block;font-size:35px; line-height:34px;margin:0 0 5px;min-height:36px;}
    .story-hero .content p,
    .story-hero-portrait .content p {line-height:1.3em}

    .story-feature,
    .story-feature-portrait {width:731px; height:580px} /*span 3 x 2*/
    .story-feature .media,
    .story-feature-portrait .media {height:454px}
    .story-feature .media img,
    .story-feature-portrait .media img {margin:-9px 0; clip:rect(9px, auto, 462px, auto ) /*729 x 453px*/}
    .story-feature .media + .content,
    .story-feature-portrait .media + .content {height:126px}
    .story-feature .content h4,
    .story-feature-portrait .content h4 {max-width:459px}
    .story-feature .content h3,
    .story-feature-portrait .content h3 {font-size:35px; line-height:33px}

    .story-feature .media.curated,
    .story-feature-portrait .media.curated {height:580px}
    .story-feature .media.curated img,
    .story-feature-portrait .media.curated img {margin:-9px 0; clip:rect(9px, auto, 588px, auto ) /*729 x 453px*/}

    .story-cover,
    .story-cover-portrait {width:768px; height:948px} /*span 3 x 3*/
    .story-cover .media,
    .story-cover-portrait .media {height:948px}
    .story-cover .media + .content,
    .story-cover-portrait .media + .content {display:none;}

    /* Quote */
    .quote-standard {height:271px /*span 1 row - tip*/}
}
/* ----- Landscape ----- */
@media only screen and (orientation:landscape) { /* only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (device-width: 1024px)|(orientation:landscape) */

    /* Body */
    body.index {width:1024px /*device width*/}

    .gallery-content {width:1024px}
    .gallery-content .wrap {width:987px; padding-top:38px}
    .gallery-content article {margin:9px 0 0 21px}
    .gallery-content .today>.clip-lead {max-height: 365px;overflow: hidden;}


    .hidden-landscape {display: none;}
    /* Index */
    body.index {height:684px /*device height - control bar - header*/; background-position:0 0 /*index | background*/}

    .index-content {width:981px; height:616px; /*page area*/ padding-right:22px; padding-left:21px /*page spacing*/}

    .index-content-standard > *:nth-child(4n),
    .index-content-standard > *:last-child {margin-right:0} /*row end: items 4,8,9*/
    .index-content-standard > *:nth-child(n+5):not(:nth-last-child(2)) {margin-bottom:0} /*col end: items 5,6,7,9*/

    .index-content-lead-tall > *:nth-child(4),
    .index-content-lead-tall > *:nth-child(n+7) {margin-right:0;} /*row end: items 4,7,8*/
    .index-content-lead-tall > *:first-child,
    .index-content-lead-tall > *:nth-child(n+5):not(:nth-last-child(2)) {margin-bottom:0;} /*col end: items 1,5,6,8*/

    /* .index-content-lead-tall variation with 2 tall blocks in Portrait view and no Brief Items in Landscape view */
    .index-content-two-tall > *:nth-child(4),
    .index-content-two-tall > *:nth-child(n+8) {margin-right:0;} /*row end: items 4,8 (shows in debug as 7 because of the hidden tall 5th block)*/
    .index-content-two-tall > *:first-child,
    .index-content-two-tall > *:nth-child(n+5) {margin-bottom:0;} /*col end: items 5,6,7*/
    .index-content-two-tall > *:nth-child(5) {height: 298px} /*emulates story-standard block*/
    .index-content-two-tall > *:nth-child(5) .media img:first-child {display:none;} /*hide tall image*/

    /* .index-content-lead-tall variation with positioning a tall block in the middle */
    .index-content-middle-tall > *:nth-child(4),
    .index-content-middle-tall > *:nth-child(n+7) {margin-right:0;} /*row end: items 4,7,8*/
    .index-content-middle-tall > *:nth-child(2),
    .index-content-middle-tall > *:nth-child(n+5):not(:nth-last-child(2)) {margin-bottom:0;} /*col end: items 2,5,6,8*/
    .index-content-middle-tall > *:nth-child(5) {position:absolute; left:21px; top:343px;} /*move top: body padding-top:25px + height:298px + margin-bottom:20px*/

    .index-content-hero > *:nth-child(n+5),
    .index-content-standard > *:nth-child(n+8),
    .index-content-feature-curated > *:nth-child(n+3),
    .index-content-feature > *:nth-child(n+3),
    .index-content-lead-tall > *:nth-child(n+7),
    .index-content-middle-tall > *:nth-child(n+7) {height:143px;margin-bottom:12px;} /*row end: items 4,7,8*/

    .index-content-hero > *:nth-child(n+5) div.content div.group,
    .index-content-standard > *:nth-child(n+8) div.content div.group,
    .index-content-feature-curated > *:nth-child(n+3) div.content div.group,
    .index-content-feature > *:nth-child(n+3) div.content div.group,
    .index-content-lead-tall > *:nth-child(n+7) div.content div.group,
    .index-content-middle-tall > *:nth-child(n+7) div.content div.group {top:4px;}

    .index-content-lead-wide > *:nth-child(3),
    .index-content-lead-wide > *:nth-child(n+7) {margin-right:0} /*row end: items 3,7,8*/
    .index-content-lead-wide > *:nth-child(n+4):not(:nth-last-child(2)) {margin-bottom:0} /*col end: items 4,5,6,8*/

    .index-content-lead-wide-alt > *:first-child,
    .index-content-lead-wide-alt > *:nth-child(n+7) {margin-right:0} /*row end: items 1,7,8*/
    .index-content-lead-wide-alt > *:nth-child(n+4):not(:nth-last-child(2)) {margin-bottom:0} /*col end: items 4,5,6,8*/
    .index-content-lead-wide-alt > *:nth-child(1) {margin-right:-500px; margin-left:500px} /*push 2 cols*/
    .index-content-lead-wide-alt > *:nth-child(2) {margin-right:250px; margin-left:-231px} /*pull 1 col*/
    .index-content-lead-wide-alt > *:nth-child(3) {margin-right:750px; margin-left:-731px} /*pull 3 cols*/

    .index-content-hero > *:nth-child(3),
    .index-content-hero > *:nth-child(n+5) {margin-right:0} /*row end: items 3,5,6*/
    .index-content-hero > *:first-child,
    .index-content-hero > *:nth-child(2n+4) {margin-bottom:0} /*col end: items 1,4,6*/

    .index-content-hero-alt > *:nth-child(2n+4) {margin-right:0} /*row end: items 4,6*/
    .index-content-hero-alt > *:first-child,
    .index-content-hero-alt > *:nth-child(n+5) {margin-bottom:0} /*col end: items 1,5,6*/

    .index-content-feature-curated > *:nth-child(n+2),
    .index-content-feature > *:nth-child(n+2) {margin-right:0;margin-bottom:18px} /*row end: items 2,3,4*/
    .index-content-feature-curated > *:nth-child(n+3),
    .index-content-feature > *:nth-child(n+3) {height:141px} /*row end: items 2,3,4*/
    .index-content-feature-curated > *:nth-child(3n+1),
    .index-content-feature > *:nth-child(3n+1) {margin-bottom:0} /*col end: items 1,4*/

    .index-content-feature-alt-curated > *:last-child,
    .index-content-feature-alt > *:last-child {margin-right:0} /*row end: item 4*/
    .index-content-feature-alt-curated > *:nth-child(n+3),
    .index-content-feature-alt > *:nth-child(n+3) {margin-bottom:0} /*col end: items 3,4*/
    .index-content-feature-alt-curated > *:nth-child(2),
    .index-content-feature-alt > *:nth-child(2) {margin-right:250px; margin-left:-250px; margin-top:318px; margin-bottom:-318px} /*pull 1 col, push 1 row*/
    .index-content-feature-alt-curated > *:nth-child(3),
    .index-content-feature-alt > *:nth-child(3) {margin-right:500px; margin-left:-481px; margin-top:477px; margin-bottom:-477px} /*pull 2 cols, push 1.5 rows*/
    .index-content-feature-alt-curated > *:nth-child(4),
    .index-content-feature-alt > *:nth-child(4) {margin-top:-139px; margin-bottom:159px} /*pull 0.5 rows*/

    /* Story */
    .story-content .content h3 {min-height:25px}
    .story-brief,
    .story-brief-landscape {width:231px; height:139px} /*span 1 x 0.5*/
    .stroy-brief .media,
    .story-brief-landscape .media {display:none}
    .story-brief .media + .content,
    .story-brief-landscape .media + .content {height:141px;line-height:1.21em;}
    .story-brief .content h4,
    .story-brief-landscape .content h4 {max-width:209px}

    .story-standard,
    .story-standard-landscape {width:231px; height:298px} /*span 1 x 1*/
    .story-standard .media,
    .story-standard-landscape .media {height:154px}
    .story-standard .media + .content,
    .story-standard-landscape .media + .content {height:144px}
    .story-standard .content h4,
    .story-standard-landscape .content h4 {max-width:209px}

    .story-lead-tall,
    .story-lead-tall-landscape {width:231px; height:616px} /*span 1 x 2*/
    .story-lead-tall .media,
    .story-lead-tall-landscape .media {height:472px}
    .story-lead-tall .media + .content,
    .story-lead-tall-landscape .media + .content {height:144px}
    .story-lead-tall .content h4,
    .story-lead-tall-landscape .content h4 {max-width:209px}

    .story-lead-wide,
    .story-lead-wide-landscape {width:481px; height:298px} /*span 2 x 1*/
    .story-lead-wide .media,
    .story-lead-wide-landscape .media {height:298px}
    .story-lead-wide .content,
    .story-lead-wide-landscape .content {left:auto; right:1px; width:210px; padding:10px; background:rgba(0, 0, 0, .75)}
    .story-lead-wide .media + .content .group,
    .story-lead-wide-landscape .media + .content .group {position:relative; top:0; right:0; bottom:0; left:0; max-height:124px}
    .story-lead-wide .content h4,
    .story-lead-wide-landscape .content h4 {max-width:209px}
    .story-lead-wide .content h3,
    .story-lead-wide-landscape .content h3 {color:#fff}
    .story-lead-wide .content p,
    .story-lead-wide-landscape .content p {color:#fff}

    .story-hero,
    .story-hero-landscape {width:481px; height:616px} /*span 2 x 2*/
    .story-hero .media,
    .story-hero-landscape .media {height:472px}
    .story-hero .media + .content,
    .story-hero-landscape .media + .content {height:144px}
    .story-hero .content h4,
    .story-hero-landscape .content h4 {max-width:459px}
    .story-hero .content h3,
    .story-hero-landscape .content h3 {display:block;font-size:35px; line-height:35px;min-height:36px;margin: 3px 0 2px;}
    .story-hero .content p,
    .story-hero-landscape .content p {line-height:1.3em}

    .story-feature,
    .story-feature-landscape {width:731px; height:616px} /*span 3 x 2*/
    .story-feature .media,
    .story-feature-landscape .media {height:615px } /*472 -- old  */
    .story-feature .media + .content,
    .story-feature-landscape .media + .content {height:144px}
    .story-feature .content h4,
    .story-feature-landscape .content h4 {max-width:459px}
    .story-feature .content h3,
    .story-feature-landscape .content h3 {font-size:35px; line-height:33px}

    .story-feature .media.curated,
    .story-feature-landscape .media.curated {height:615px}

    .story-cover,
    .story-cover-landscape {width:1024px; height:684px} /*span 3 x 3*/
    .story-cover .media,
    .story-cover-landscape .media {height:684px}
    .story-cover .media + .content,
    .story-cover-landscape .media + .content {display:none;}

    /* Quote */
    .quote-standard {height:289px /*span 1 row - tip*/}
}