@charset 'utf-8';

body {font-family:"HelveticaNeue"}

/* Story styles */
.story-content article > header > .gallery a header {font-family:"HelveticaNeue"}
.story-content article > header cite {font-family:"HelveticaNeue"; background:#393738; color:#c4c5c6}
.story-content article h1,
.story-content article h2,
.story-content article h3 {font-family:"BreeSerif-Regular"}
.story-content article time {font-family:"HelveticaNeue"}
.story-content article > header > h1 {clear:both}
.story-content article > header .pagination > span {font-family:"HelveticaNeue"}

/* Author info */
.story-content article p#byline {font-family:"HelveticaNeue"}

/* Inline elements */
.story-content article > figure cite,
.story-content article > .inlineGallery footer {font-family:"HelveticaNeue"}

.story-content article > blockquote p {font-family:"Georgia"}
.story-content article > blockquote strong,
.story-content article > blockquote em,
.story-content article > blockquote cite {font-family:"HelveticaNeue"}

.story-content article > .inlineGallery > a > header {font-family:"HelveticaNeue"}

/* Ad styles */
.story-content article > .ad,section.ad {font-family:"HelveticaNeue"}

/* Gallery styles */
.gallery-content .wrap {background:url("images/linen-background.png");}
    .gallery-content .index {margin:-28px 0 0 -21px}
    .gallery-content article {color:#fff; background:#393738}
    .gallery-content article > hgroup {margin:6px 8px; height:38px; line-height:18px; font-family:"BreeSerif-Regular"}


/* ----- Common ----- */
@media only screen { /* only screen and (min-device-width:768px) and (max-device-width:1024px) */

	/* Index */
    body.index {background:url("images/drive-index-bg.png") /*index | background*/}


	/* Story */
	.story-content .content {margin:0 1px; background:#393738}
	.story-content .content h4 {font-family:"HelveticaNeue"}
	.story-content .content h3 {font-family:"BreeSerif-Regular"; font-size:18px; line-height:20px; color:#fff}
	.story-content .content p {font-family:"HelveticaNeue"; color:#ccc}

	.story-lead-wide .content,
	.story-lead-wide-portrait .content,
	.story-lead-wide-landscape .content {background:rgba(0, 0, 0, .75)}


	/* Quote */
	.quote p {font-family:"BreeSerif-Regular"}
	.quote strong {font-family:"HelveticaNeue"}
	.quote em,
	.quote cite {font-family:"HelveticaNeue"}

}



/* ----- Portrait ----- */
@media only screen and (orientation:portrait) { /* only screen and (min-device-width:768px) and (max-device-width:1024px) and (device-width:768px)|(orientation:portrait) */

	/* Index */
	.index-content {padding-top:14px; padding-bottom:54px /*page spacing*/}
	body.front-page-0 {margin-top: -20px;}


	/* Story */
	.story-hero .content h3,
	.story-hero-portrait .content h3 {font-size:24px; line-height:28px; min-height:36px}

	.story-feature .content h3,
	.story-feature-portrait .content h3 {font-size:24px; line-height:28px}

}



/* ----- Landscape ----- */
@media only screen and (orientation:landscape) { /* only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (device-width: 1024px)|(orientation:landscape) */

	/* Index */
	.index-content {padding-top:18px; padding-bottom:50px /*page spacing*/}


	/* Story */
	.story-hero .content h3,
	.story-hero-landscape .content h3 {font-size:24px; line-height:28px; min-height:36px}

	.story-feature .content h3,
	.story-feature-landscape .content h3 {font-size:24px; line-height:28px}

}