@charset 'utf-8';

/* ----- Movie Session Times CSS ----- */

.session-times .hide { display:none !important }
.session-times .relative { position:relative }
.session-times .visuallyhidden { position:absolute; left:99999%; bottom:99999% }

.session-times { margin-top:60px !important; background:#404040; color:#ffffff }
.session-times div.result >div, .session-times div.footer { padding:30px 2.4% 28px 2.4%; border-bottom:1px solid #000000; border-top:1px solid #808080 }
.session-times div.session-nav { padding:30px 2.4% 0 2.4%; margin-bottom:1.529em }
.session-times div.result >div:first-child { border-top:none; padding-top:0 }
.session-times div, .session-times div ul.find-cinema li { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
.session-times div h2, .session-times div h3 { margin:0; padding:0 }
.session-times div h2 { margin-bottom:0.667em }
.session-times div h2.session-heading { background:url('images/session-time-sprite.png') no-repeat 0px -570px; padding-left:1em }
.session-times div.footer h2 { background:url('images/session-time-sprite.png') no-repeat -782px -27px; padding-left:1em }
.session-times div h3 { margin-bottom:0.833em }
.session-times div div.cinema-info h3 { margin-bottom:0.417em }
.session-times div ul { margin:0 }
.session-times div >ul { display:block }
.session-times div ul li { float:left; list-style:none }
.session-times div ul.find-cinema { width:100%; display:inline-block }
.session-times div ul.find-cinema li { width:33.33%; margin:0; position:relative; border-right:1px solid #404040 }
.session-times div ul.find-cinema li:last-child { border-right:none }
.session-times div ul.find-cinema li a { width:100%; display:block; padding: 0.750em 0 }
.session-times div ul.find-cinema li span.arrow-down { display:none; position:absolute; left:48%; bottom:-10px }
.session-times div ul.find-cinema li.selected span.arrow-down, .session-times div ul.find-cinema li:hover span.arrow-down { display:block }

.session-times div ul.cinema-day { width:100%; margin-top:1em }
.session-times div ul.cinema-day li{ width:14.2857142%; margin:0 }
.session-times div ul.cinema-day li a { width:100%; display:block; padding:0.563em 0.111em 0.500em 0.111em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
.session-times div p, .session-times div label { margin:1.529em 0; margin-top:0 }
.session-times div label { display:inline-block }

.session-times div.session-info { width:100%; display:inline-block; padding:0.500em 1em }
.session-times div.session-info >div { float:right }
.session-times div ul.cinema-time { /*changed width:76.7%;*/ width:100%;  float:left }
.session-times div ul.cinema-time li { width:16.66%; margin:0; padding:0.500em 0 }
.session-times div ul.cinema-time li a, .session-times div ul.cinema-time li >div { width:100%; display:block; position:relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }

.session-times div div.cinema-map { width:100%; height:390px; border:1px solid white  }
.session-times div div.cinema-info { position:relative }
.session-times div div.cinema-info button.favourite { position:absolute; display:block; bottom:0; right:0; height:21px }
.session-times div div.cinema-info p.lead { margin:0.588em 0 0.941em 0 }
.session-times div div.cinema-info p { margin:0.588em 0 }
.session-times div div.cinema-info h3 span.marker { display:none }
.session-times div.near div.cinema-info h3 span.marker { display:inline-block; width:13px; height:21px; background:url('images/session-time-sprite.png') no-repeat -781px -106px; padding-left:6px; padding-bottom:5px }
.session-times div.near div.cinema-info h3 span.cinema-title { display:inline-block; height:13px }

.session-times button { margin:0; padding:0 }
.session-times button.expand { margin-left:0.556em }
.session-times button.expand .less { background:url('images/session-time-sprite.png') no-repeat 27px 9px; padding-right:1em }
.session-times button.expand .more { background:url('images/session-time-sprite.png') no-repeat 37px -4px; padding-right:1em }
.session-times button.favourite .add { background:url('images/session-time-sprite.png') no-repeat -775px -80px; padding-left:2em }
.session-times button.favourite .remove { background:url('images/session-time-sprite.png') no-repeat -775px -55px; padding-left:2em }
.session-times a.cta { display:block; padding:0.500em 0.833em }

.session-times div .lservices { position:relative }


/* ------- Cinema Search ---- */
.session-times .search-wrapper{
    text-align: center;
}
.session-times .search-wrapper input{
    width: 50%;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    -webkit-appearance: none;
    padding: 4px 12px;
    font-size: 1em;
}
.session-times .search-wrapper input:focus{
    box-shadow: 0px 0px 3pt 2pt #0a90dc;
    outline: none;
}

/* ------- Media Type Overlay ------ */
.article-media-type.movie-review { top:11px; left:-3px }
.article-media-type.trailer { top:11px; left:-3px }


/* ------- Overrides ------ */

.story-content article .caption { float:left; margin-bottom:45px }
.story-content article .caption cite, .story-content article .caption a.cite-action { display:block; float:left; padding-top:14px; padding-bottom:14px; font-family:'TradeGothic LT',Sans-Serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
.story-content article .caption cite { font-size:0.889em; border-right:1px solid #393939; width:728px; position:relative; padding-right:34% }
.story-content article .caption cite a.cite-action:before { content:''; width:0; height:100%; border-right:1px solid #000000; position:absolute; left:-3px; top:0; }
.story-content article .caption a.cite-action { height:100%; position:absolute; bottom:0; right:0; border-left:1px solid #535353; color:#ffffff; font-weight:bold; width:33%; background: url('images/session-time-sprite.png') no-repeat 190px -254px #404040; padding-left:20px; padding-right:45px }
.story-content article .caption a.cite-action:hover { text-decoration:none }
.story-content article .caption a.cite-action:active { -webkit-box-shadow:0px 0px 10px #007cc3; -moz-box-shadow:0px 0px 10px #007cc3; -o-box-shadow:0px 0px 10px #007cc3; box-shadow:0px 0px 10px #007cc3 }


/* ------- Styling ------- */

.session-times p, .session-times ul li, .session-times a, .session-times div.footer h2, .session-times h3, .session-times button, .session-times .switch { font-family:'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif }
.session-times a, .session-times button, .session-times div ul.cinema-time li >div { color:#0a90dc }
.session-times div label, .session-times div h3 {  font-family:'TradeGothic LT',Sans-Serif }
.session-times a:hover { text-decoration:none }
.session-times div p, .session-times div label { font-size:0.944em }
.session-times div h2 { font-size:2.000em }
.session-times div h2 span { color:#cccccc }
.session-times div.footer h2 { font-size:1.333em; color:#0a90dc; margin-bottom:0  } 
.session-times div h3 { font-size:1.333em }
.session-times div h3 span { font-weight:bold }

.session-times div ul.cinema-day li a { font-size:0.889em; text-align:center; border:1px solid #404040; border-top:0; border-left:0; font-family:'TradeGothic LT',Sans-Serif; font-weight:bold }
.session-times div ul.cinema-day li:last-child a { border-right:0 }
.session-times div ul.cinema-day li a.selected { border-bottom:1px solid #ffffff; color:#b73c8c }
.session-times div div.cinema-info p{ color:#cccccc }
.session-times div div.cinema-info p span, .session-times div.cinema-info p a { color:#ffffff }
.session-times div div.cinema-info h3 span.marker { font-weight:normal; line-height:21px; font-size:12px }
.session-times div div.cinema-info h3 span.cinema-title { font-weight:normal }
.session-times div ul.cinema-time li a, .session-times div ul.cinema-time li >div { text-align:center; border-right:1px solid #cccccc; font-size:0.944em; font-weight:bold }
.session-times div ul.cinema-time li >div { cursor:pointer }
.session-times div ul.cinema-time li:nth-child(6n+6) a, .session-times div ul.cinema-time li:nth-child(6n+6) >div { border-right:none }
.session-times div ul.cinema-time li:nth-child(6n+6) a:after, .session-times div ul.cinema-time li:nth-child(6n+6) >div:after { border-right:none; border-right:none }
.session-times div ul.cinema-time li a:after, .session-times div ul.cinema-time li div:after { content:''; height:100%; position:absolute; bottom:0; right:0; border-right:1px solid #dadada }
.session-times div ul.cinema-time li:last-child a, .session-times div ul.cinema-time li:last-child >div { border-right:0 }
.session-times div ul.cinema-time li:last-child a:after, .session-times div ul.cinema-time li:last-child >div:after { height:0; border-right:0 }

.session-times div.session-info { background:#ffffff }

.session-times div ul.find-cinema li { font-size:1.111em; text-align:center }
.session-times div ul.find-cinema li.selected, .session-times div ul.find-cinema li:hover { background:#b73c8c; -webkit-box-shadow:0 4px 16px 6px rgba(0, 0, 0, 0.05) inset; -moz-box-shadow:0 4px 16px 6px rgba(0, 0, 0, 0.05) inset; box-shadow:0 4px 16px 6px rgba(0, 0, 0, 0.05) inset }
.session-times div ul.find-cinema li.selected a, .session-times div ul.find-cinema li:hover a { color:#ffffff }
.session-times div ul.find-cinema li span.arrow-down { width:0; height:0; border-left:7px solid transparent; border-right:7px solid transparent; border-top:10px solid #9f3d7d }
.session-times div ul.find-cinema li a { font-family:'TradeGothic LT',Sans-Serif; font-weight:bold }

.session-times button { background:none; border:none; font-size:0.889em; cursor:pointer }
.session-times button.expand .more, .session-times button.expand .less { color:#0a90dc }

.session-times a.cta { font-size:0.889em; text-align:center; color:#ffffff; text-transform:uppercase; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px }

.session-times div .lservices p { font-family:'TradeGothic LT',Sans-Serif }


/*-------- tooltip ------------------*/
.session-times .tooltip { outline:none; position:relative}
.session-times .tooltip span {
  display: block;
  border: 1px solid #c2c2c2;
  z-index: 10;
  position: absolute;
  padding: 1em;
  line-height: 1em;
  color: #000000;
  background: #ffffff;
  text-decoration: none;
  white-space: nowrap;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  top:24px;
}

.session-times .tooltip span:after,
.session-times .tooltip span:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    content: '';
    top: -10px;
    left: 24px;
    margin-left: -10px;
    position: absolute;
}

.session-times .tooltip span:before {
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid;
    border-bottom-color: inherit;
    top: -11px;
    margin-left: -11px;
}

.session-times .tooltip span a.cta{
    font-size: 1em;
    font-weight: normal;
    width: 71%;
    margin-top: 0.500em;
    margin-bottom: 1.500em;
    border-right: none;
}
.session-times div.tooltip span a:after{
    border-right: none !important;
}
.session-times .tooltip span p{
    font-weight: bold;
    width: 84%;
    font-size: 1.125em;
    margin: 0;
    padding: 0;
    text-align: left;
}

/*.session-times .tooltip span button{
    position: absolute;
    top: 4px;
    right: 4px;
    text-indent: -999999px;
    width: 23px;
    height: 23px;
    padding: 6px;
    background: url('images/session-time-sprite.png') no-repeat -779px -579px;
}*/

.session-times .tooltip span ul{
    margin-top: 6px;
}
.session-times .tooltip span ul li{
    float: left;
    padding: 0 1.125em;
    width: auto;
    border-right: 1px solid #cccccc;
}

.session-times .tooltip span ul li:first-child{
    padding-left: 0;
}

.session-times .tooltip span ul li:last-child{
    padding-right: 0;
    border-right: 0;
}

.session-times .tooltip span ul li a{
    display: inline;
    border: none;
}
.session-times .tooltip span ul li a{
    margin: 0;
    border: none;
}


.session-times div.result >div:last-child .tooltip span{
  bottom: 31px;
  top: auto;
}

.session-times div.result div li:nth-child(6n+6) .tooltip span{
    left:-130px;
}

.session-times div.result div li:nth-child(6n+6) .tooltip span:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: none;
    border-bottom: 10px solid #fff;
    content: '';
    bottom: auto;
    top: -10px;
    left: 158px;
    margin-left: -10px;
    position: absolute;
}

.session-times div.result div li:nth-child(6n+6) .tooltip span:before {
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: none;
    border-bottom: 11px solid;
    border-top-color: none;
    border-bottom-color: inherit;
    bottom: auto;
    left: 158px;
    top: -11px;
    margin-left: -11px; 
}

.session-times div.result >div:last-child .tooltip span:after, .session-times div.result >div:last-child .tooltip span:before{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    border-bottom: none;
    content: '';
    bottom: -10px;
    top: auto;
    left: 24px;
    margin-left: -10px;
    position: absolute;
}
.session-times div.result >div:last-child .tooltip span:before {
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid;
    border-bottom: none;
    border-top-color: inherit;
    border-bottom-color: none;
    bottom: -11px;
    top: auto;
    margin-left: -11px;
}

.session-times div.result >div:last-child li:nth-child(6n+6) .tooltip span:after, .session-times div.result >div:last-child li:nth-child(6n+6) .tooltip span:before{
    border-left: 10px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #fff;
    border-bottom: none;
    content: '';
    bottom: -10px;
    top: auto;
    left: auto;
    right:20px;
    margin-left: -10px;
    position: absolute;
}
.session-times div.result >div:last-child li:nth-child(6n+6) .tooltip span:before {
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid;
    border-bottom: none;
    border-top-color: inherit;
    border-bottom-color: none;
    bottom: -11px;
    top: auto;
    margin-left: -11px;
}
/*-------- ios Switch styling -------*/
.session-times .switch {
    position: absolute;
    margin-left: 0.667em;
    display: inline-block;
    height: 28px;
    width: 77px;
    border: 1px solid #979797;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    margin-top: -5px;
    box-shadow: inset 0 1px 3px #BABABA, inset 0 12px 3px 2px rgba(232, 232, 232, 0.5);
    cursor: pointer;
    overflow: hidden;
}

.session-times .switch::before {
    content: "";
    display: block;
    height: 28px;
    width: 0px;
    position: absolute;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    box-shadow: inset 0 1px 2px #0063B7, inset 0 12px 3px 2px rgba(0, 127, 234, 0.5);
    background-color: #64B1F2;
}

.session-times .switch input[type=checkbox] {
    display: none;
}

.session-times .switch.on::before {
    width: 77px;
}

.session-times .switch > .thumb {
    display: block;
    width: 25px;
    height: 25px;
    position: relative;
    top: 0;
    z-index: 3;
    border: solid 1px #919191;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    box-shadow: inset 0 2px 1px white, inset 0 -2px 1px white;
    background-color: #CECECE;
    background-image: linear-gradient(top, #CECECE, #FBFBFB);
    transition: all 0.125s ease-in-out;
    transform: translate3d(0,0,0);
}

.session-times .switch.on > .thumb {
    -webkit-transform: translate3d(49px,0,0);
    -o-transform: translateX(49px);
    -moz-transform: translateX(49px);
}

.session-times .switch > .thumb::before {
    content: "ON";
    display: block;
    height: 14px;
    border: none;
    position: absolute;
    top: 5px;
    left: -31px;
    font-size: 0.889em;
}

.session-times .switch > .thumb::after {
    content: "OFF";
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    right: -18px;
    top: 5px;
    font-size: 0.889em;
}


/* -------- End ios Switch Styling -------- */

.session-times div.result >div{
    background: -moz-linear-gradient(top,  rgba(53,53,53,0.2) 0%, rgba(56,56,56,1) 29%, rgba(64,64,64,1) 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,53,53,0.2)), color-stop(29%,rgba(56,56,56,1)), color-stop(99%,rgba(64,64,64,1)));
    background: -webkit-linear-gradient(top,  rgba(53,53,53,0.2) 0%,rgba(56,56,56,1) 29%,rgba(64,64,64,1) 99%);
    background: -o-linear-gradient(top,  rgba(53,53,53,0.2) 0%,rgba(56,56,56,1) 29%,rgba(64,64,64,1) 99%);
    background: -ms-linear-gradient(top,  rgba(53,53,53,0.2) 0%,rgba(56,56,56,1) 29%,rgba(64,64,64,1) 99%);
    background: linear-gradient(to bottom,  rgba(53,53,53,0.2) 0%,rgba(56,56,56,1) 29%,rgba(64,64,64,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33353535', endColorstr='#404040',GradientType=0 );
}

.session-times a.cta {
    background: #cb4dac;
    background: -moz-linear-gradient(top, #cb4dac 0%, #ab3279 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb4dac), color-stop(100%,#ab3279));
    background: -webkit-linear-gradient(top, #cb4dac 0%,#ab3279 100%);
    background: -o-linear-gradient(top, #cb4dac 0%,#ab3279 100%);
    background: -ms-linear-gradient(top, #cb4dac 0%,#ab3279 100%);
    background: linear-gradient(to bottom, #cb4dac 0%,#ab3279 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb4dac', endColorstr='#ab3279',GradientType=0 );
}

.session-times div ul.cinema-day li a {
    background: #eeeeee;
    background: -moz-linear-gradient(top,  #eeeeee 0%, #dcdcdc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dcdcdc));
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#dcdcdc 100%);
    background: -o-linear-gradient(top,  #eeeeee 0%,#dcdcdc 100%);
    background: -ms-linear-gradient(top,  #eeeeee 0%,#dcdcdc 100%);
    background: linear-gradient(to bottom,  #eeeeee 0%,#dcdcdc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dcdcdc',GradientType=0 );
}

.session-times div ul.cinema-day li a.selected {
    background: #9e9e9e;
    background: -moz-linear-gradient(top,  #9e9e9e 0%, #ededed 41%, #ffffff 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e9e9e), color-stop(41%,#ededed), color-stop(99%,#ffffff));
    background: -webkit-linear-gradient(top,  #9e9e9e 0%,#ededed 41%,#ffffff 99%);
    background: -o-linear-gradient(top,  #9e9e9e 0%,#ededed 41%,#ffffff 99%);
    background: -ms-linear-gradient(top,  #9e9e9e 0%,#ededed 41%,#ffffff 99%);
    background: linear-gradient(to bottom,  #9e9e9e 0%,#ededed 41%,#ffffff 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e9e9e', endColorstr='#ffffff',GradientType=0 );
}

.session-times div ul.find-cinema li {
    background: rgb(238,238,238);
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 50%, rgba(211,211,211,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(50%,rgba(238,238,238,1)), color-stop(100%,rgba(211,211,211,1)));
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 50%,rgba(211,211,211,1) 100%);
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 50%,rgba(211,211,211,1) 100%);
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 50%,rgba(211,211,211,1) 100%);
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 50%,rgba(211,211,211,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d3d3d3',GradientType=0 );


}


/* ------- MAPS ----- */
.session-times .cinema-map { color:#000000 }
.session-times .infoBox { background:#ffffff; padding:18px; padding-bottom:9px; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; font-size:18px; width:318px; border:1px solid #c2c2c2 }
.session-times .cinema-map .map-content { overflow:hidden; height:auto }
.session-times .cinema-map .map-content ul { display:inline-block; border-top:1px solid #b2b2b2; border-bottom:1px solid #b2b2b2; padding:10px 0; margin-bottom:10px }
.session-times .cinema-map .map-content ul li { color:#0a90dc; font-size:0.889em; text-align:center; border-right:1px solid #cccccc; width:31.33%; position:relative; margin: 4px 0; padding: 2px 0 }
.session-times .cinema-map .map-content ul li:nth-child(3n+3) { border-right:none }
.session-times .cinema-map .map-content ul li:after { content:''; height:100%; position:absolute; bottom:0; right:0; border-right:1px solid #dadada }
.session-times .cinema-map .map-content ul li:nth-child(3n+3):after { border-right:none }
.session-times .cinema-map .map-content p { display:block; text-align:center; width:100%; font-size:1em; margin-top:4px; margin-bottom:6px }
.session-times .cinema-map .map-content p .cta { display:inline }
.session-times .cinema-map .map-content h3 {  overflow:hidden; font-size:1em; line-height:1.278em; font-weight:bold }
.session-times .cinema-map .map-content h3.favourite { background:url('images/session-time-sprite.png') no-repeat -779px -579px; padding-left:1.278em }
.session-times .cinema-map .marker-label { color:#ffffff; text-transform:capitalize; font-family:'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif; font-size:12px;  }


/* ------- Override Classes --- */
.story-content article .caption cite { color:#fff; background:rgba(0, 0, 0, 0.75) }
.story-content article .caption { position:relative }


/* -------- FONTS ------ */

/** Generated by FG **/
/*@font-face {
    font-family: 'Conv_TradeGothicLTStd_0';
    src: url('resources/TradeGothicLTStd_0.eot');
    src: local('☺'), url('resources/TradeGothicLTStd_0.woff') format('woff'), url('resources/TradeGothicLTStd_0.ttf') format('truetype'), url('resources/TradeGothicLTStd_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

