@charset 'utf-8';

body {font-family:"DejaVu Serif"}

/* Story styles */
.story-content article > header > .gallery a header {font-family:"TradeGothic LT"}
.story-content article .caption {position:relative}
.story-content article > .caption {margin-bottom: 16px;}
.story-content article .caption cite {font-family:"TradeGothic LT"; color:#fff; background:rgba(0, 0, 0, 0.75)}
.story-content article h1,
.story-content article h2,
.story-content article h3 {font-family:"MillerDisplay"}
.story-content article time {font-family:"TradeGothic LT"}
.story-content article > header > h1 {color:#000}
.story-content article > header .pagination > span {font-family:"TradeGothic LT"}

/* Author info */
.story-content article p#byline {font-family:"TradeGothic LT"}

/* Inline elements */
.story-content article > figure cite,
.story-content article > .inlineGallery footer {font-family:"TradeGothic LT"}

.story-content article > blockquote p {font-family:"Georgia"}
.story-content article > blockquote strong {font-family:"TradeGothic LT"}
.story-content article > blockquote em,
.story-content article > blockquote cite {font-family:"DejaVu Serif"}

.story-content article > .inlineGallery > a > header {font-family:"TradeGothic LT"}

/* Ad styles */
.story-content article > .ad,section.ad {font-family:"TradeGothic LT"}

/* Gallery styles */
.gallery-content .wrap {background:url("images/dotted-background.gif");}
    .gallery-content .index {margin:-25px 0 0 -21px}
    .gallery-content article {background:white}
    .gallery-content article > hgroup {margin:8px; height:34px; line-height:17px}

/* ----- Common ----- */
@media only screen { /* only screen and (min-device-width:768px) and (max-device-width:1024px) */

	/* Index */
	body.index {background:url("images/news-index-bg.png") /*index | background*/}

}



/* ----- Portrait ----- */
@media only screen and (orientation:portrait) { /* only screen and (min-device-width:768px) and (max-device-width:1024px) and (device-width:768px)|(orientation:portrait) */

	

}



/* ----- Landscape ----- */
@media only screen and (orientation:landscape) { /* only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (device-width: 1024px)|(orientation:landscape) */

	

}