/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}
body {line-height:1;color:black;background:white}
blockquote,figure,section{margin:0;padding:0;border:0;}

/* Check this value on iPad, Chrome seems to add a 3px margin below images... */
img {margin-bottom:-3px};

/* Layout */
html {font-size:18px;}
body {width:768px;margin:0 auto;background:#c0c0c0;color:#414141;-webkit-user-select: none;-webkit-touch-callout: none;}
.wrap {overflow:hidden;width:729px;margin:0 auto;padding:20px 18px 20px 19px;background:#fff;}

/* ----- Portrait ----- */
@media only screen and (orientation:portrait) { 
    body {width:768px;}
    .wrap {width:729px;}
    .homeFull .wrap {width:768px;}
    .landscape-only{display:none !important;}
    .portrait-only{display:default !important;}
}
/* ----- Landscape ----- */
@media only screen and (orientation:landscape) {
    body {width:1024px;}
    .wrap {width:985px;}
    .homeFull .wrap {width:1024px}
    .landscape-only{display:default !important;}
    .portrait-only{display:none !important;}
}

/* Global */
a {color:#007cc3;text-decoration:none}
cite {font-style:italic;}

/* Welcome styles */
body.welcome{background:#015f91;font-family:"TradeGothic LT",sans-serif;-webkit-tap-highlight-color:rgba(0,0,0,0);}
    .welcome>.wrap{width:689px;padding:20px;background:transparent;}
    .welcome h1{margin:20px 0 15px;line-height:57px;font-size:43px;text-align:center;color:#fff;}
    .welcome section{display:block;border:8px solid #a1c9df;line-height:32px;font-size:26px;background:#fff;}
    .welcome section>header{padding:35px 37px 9px;color:#222;}
    .welcome section>header p{margin-bottom:26px;}
    
    .welcome section>content{display:block;padding:30px 37px;background:#f5f9fc;}
    .welcome section>content>p{margin-bottom:19px;font-size:20px;font-weight:bold;color:#000;text-align:center;}
    .welcome section>content>ul.cols>li{padding:0 8px;width:180px;border-right:1px solid #ddd;height:108px;}
    .welcome section>content>ul.cols>:first-child{padding-left:0;}
    .welcome section>content>ul.cols>:last-child{padding-right:0;border:none;}
    .welcome section>content>ul.cols>li>h2{margin-bottom:15px;font-weight:bold;color:#005684;}
    .welcome section>content>ul.cols>li>p{line-height:19px;font-size:15px;color:#555;}

    .welcome section>content>ul.checked-features>li{ font-size: 20px; line-height: 20px; }
    .welcome section>content>ul.checked-features>li{ list-style: none; padding: 8px 0; }
    .welcome section>content>ul.checked-features>li{ padding-left: 32px; }
    .welcome section>content>ul.checked-features>li{ background: 0px 6px url('img/check.png') no-repeat; background-size: 20px 22px; }
    @media all and (-webkit-min-device-pixel-ratio:2) {
      .welcome section>content>ul.checked-features>li{ background-image: url('img/check@2x.png'); }
    }
    .welcome section>content>ul.checked-features>li strong{ font-weight: bold; color: rgb(1,95,145); }
    
    .welcome section>footer{padding:20px 37px 10px;}
    .welcome section>footer>ul>li{width:33%;}
    .welcome section>footer>ul>li>p{line-height:26px;font-size:15px;font-weight:bold;color:#000;text-align:center;}
    .welcome section>footer .network-sites{margin-top:20px;font-size:11px;color:#555;text-align:center;}
    .welcome section>footer .network-sites>.button{margin-top:10px; margin-bottom: 10px;}

    .welcome ul.cols{list-style:none;margin:0;padding:0;}
    .welcome ul.cols>li{float:left;}
    .welcome .button{
		display:block;
		margin:0 auto;
		width:274px;
		height:46px;
		line-height:46px;
		text-align:center;
		color:#fff;
		background:url(img/buttons.png) ;
		font-size:18px;font-weight:bold;
	}
	.welcome .button:active {
		background-position:-300px 0;
	}
	.welcome .grey{
		background-position:0 -50px;
		color:#000;
	}
	.welcome .grey:active {
		background-position:-300px -50px;
	}

@media only screen and (orientation:portrait) { 
    .welcome>.wrap{width:689px;}
    .welcome section>content>ul.cols>li{width: 184px; height:120px; padding: 0 4px 0 12px;}
    .welcome section>content>ul.cols:nth-of-type(0n+2)>li{ height:140px; }
    .welcome section>footer>ul>li{width:50%;}
}
/* ----- Landscape ----- */
@media only screen and (orientation:landscape) {
    .welcome>.wrap{width:945px;padding:0px 40px}
    .welcome section>content>ul.cols>li{width: 260px; height:98px; padding: 0 16px;}
    .welcome section>content>ul.cols:nth-of-type(0n+2)>li{ height:124px; }
	.welcome section>content{padding:10px 37px;}
    .welcome h1{margin:12px 0 8px;line-height:51px;}
}

.clearfix:after,
.welcome section>content>ul:after,
.welcome section>footer>ul:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
