/* Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0;margin-bottom:1.4em;}
caption,th,td{text-align:left;font-weight:400;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:;}
a img{border:none;}

body { font-family: "Trade Gothic LT Std", "Helvetica", sans-serif; margin: 0 auto; padding: 0 38px; }
h1 { background-color: transparent; border: 0; margin: 28px auto 30px; overflow: hidden; }
h1:before { content: ''; display: block; height: 150%; width: 0; }
h2 { color: #137fcd; font-size: 44px; font-weight: bold; letter-spacing: -1px; margin-bottom: 10px; text-align: center; }
h3 { font-size: 26px; text-align: center; }
h3 strong { display: block; font-weight: bold; margin-top: 5px; }
a { color: #137fcd; text-decoration: none; }

.package { border: 6px solid #f4f5f5; background-color: #fcfcfc; display: inline-block; height: 298px; margin: 30px 0; padding: 20px; position: relative; width: 406px; vertical-align: top; }
.package h3 { color: #137fcd; font-size: 28px; font-weight: bold; text-align: left; margin-bottom: 40px; }
.package ul { list-style: none; margin-bottom: 15px; padding-left: 20px; }
.package ul li { margin-bottom: 10px; text-indent: -21px; }
.package ul li:before { background: url('img/tick.png') 0 2px no-repeat; content: ''; display: inline-block; height: 14px; margin-right: 7px; width: 14px; }
.package-all-digital { background: url('img/all-digital.png') no-repeat 265px 20px; margin-right: 32px; }
.package-tablet-only { background: url('img/tablet.png') no-repeat 348px 20px }
.package-tablet-only ul { margin-bottom: 32px }

.subscribe-url { font-size: 24px; font-weight: bold; }
.cancel { bottom: 25px; position: absolute; }
.restore { display: block; margin-bottom: 15px; }
.button { background-color: #f26522; border-radius: 3px; color: #fff; font-size: 24px; font-weight: bold; display: inline-block; text-decoration: none; letter-spacing: 1; padding: 10px 18px; }
.close { background: url('img/close.png') 5px 5px no-repeat; background-color: transparent; display: block; height: 36px; overflow: hidden; position: absolute; right: 15px; top: 30px; width: 36px; }
.close:before { content: ''; display: block; height: 150%; width: 0; }

footer h4 { font-size: 19px }
footer h4:first-child { margin-bottom: 15px }

/* Portrait mode */
@media only screen and (orientation:portrait) {
    body { padding: 32px 32px 0 }
    h2 { margin: 45px 0 30px }
    h3 { font-size: 25px }
    .package { height: 366px; margin: 50px 0 70px; width: 287px; }
    .package-all-digital { background-position-x: 158px; margin-right: 26px; padding-right: 0; width: 307px; }
    .package-all-digital h3 { line-height: 1; margin-bottom: 48px; width: 150px; }
    .package-all-digital ul { margin-bottom: 30px }
    .package-tablet-only { background-position-x: 235px }
    .package-tablet-only h3 { margin-bottom: 72px }
    .package-tablet-only ul { margin: 0 50px 70px 0 }
}

/* smh */
.smh h1 { background: url('img/logo_smh.png'); height: 62px; width: 340px; }

/* theage */
.theage h1 { background: url('img/logo_theage.png'); height: 64px; width: 342px; }

/* retina support */
@media (-webkit-min-device-pixel-ratio: 2) {
    .smh h1 { background: url('img/logo_smh@2x.png'); background-size: 340px auto; }
    .theage h1 { background: url('img/logo_theage@2x.png'); background-size: 342px auto; }
    .close { background: url('img/close@2x.png') no-repeat 5px 5px; background-size: 26px auto; }
    .package ul li:before { background: url('img/tick@2x.png') no-repeat; background-position-y: 2px; background-size: 14px auto; }
    .package-all-digital { background: url('img/all-digital@2x.png') no-repeat 265px 20px; background-size: 160px auto; }
    .package-tablet-only { background: url('img/tablet@2x.png') no-repeat 348px 20px; background-size: 64px auto; }
}
@media (-webkit-min-device-pixel-ratio: 2) and (orientation:portrait) {
    .package-all-digital { background-position-x: 158px }
    .package-tablet-only { background-position-x: 235px }
}
